<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>#TITLE#</title>
    <meta name="GENERATOR" content="BibleTime - www.bibletime.info" />
    <meta name="AUTHOR" content="BibleTime - www.bibletime.info" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style type="text/css">

    .chaptertitle {
        font-weight: bold;
        font-size: x-large
    }

    /* <![CDATA[ */
#LANG_CSS#


    /* ]]> */
    </style>

    <!-- Link to the application default stylesheet -->
    <style type="text/css">#THEME_STYLE#</style>
    <!-- Link to module stylesheet, if applicable -->

</head>

<body id="#DISPLAYTYPE#" class="#MODTYPE# #MODTYPE#_#MODNAME#">
    <div class="chaptertitle"><center>#CHAPTERTITLE#</center></div>
    <div id="content" lang="#LANG_ABBREV#" xml:lang="#LANG_ABBREV#" dir="#PAGE_DIRECTION#">#CONTENT#</div>
</body>
</html>
