*~
/.cdtproject
/.cproject
/.externalToolBuilders
/.project
/.settings
/bibletime.kdevelop
/bibletime.kdev4
/BibleTime.kdevelop
/bibletime.kdevelop.filelist
/BibleTime.kdevelop.filelist
/bibletime.kdevelop.pcs
/BibleTime.kdevelop.pcs
/bibletime.kdevses
/BibleTime.kdevses
/build
/CMakeLists.txt.user
/CMakeLists.txt.user.*
/CMakeFiles
/config.cmake
/dirlist
/.kdev4
/log
/mine
/qtcreator-build
.DS_Store
*.pro.user*
bibletime*.qm
*.o
moc_*.cpp
qrc_*.cpp
/.vscode
