* text=auto
*.svg -text

# Make git diff warn about trailing space and tabs in indentation:
CMakeLists.txt text whitespace=space-before-tab,tab-in-indent,trailing-space
*.c            text whitespace=space-before-tab,tab-in-indent,trailing-space
*.cpp          text whitespace=space-before-tab,tab-in-indent,trailing-space
*.h            text whitespace=space-before-tab,tab-in-indent,trailing-space
*.js           text whitespace=space-before-tab,tab-in-indent,trailing-space
*.tmpl         text whitespace=space-before-tab,tab-in-indent,trailing-space

# Ignore these files in "git archive":
/.* export-ignore
/archive.sh export-ignore
