Benjie Cail <tuubaaku@users.sourceforge.net> <tuubaaku@ba6c7691-6512-0410-bf18-b6da21b6447f>
Eeli Kaikkonen <eekaikko@mail.student.oulu.fi> <eelik@ba6c7691-6512-0410-bf18-b6da21b6447f>
Gary Holmlund <gw@holmlund.org> <gary.holmlund@gmail.com>
Gary Holmlund <gw@holmlund.org> <gary>
Gary Holmlund <gw@holmlund.org> <gary@Garys-Mac-mini.attlocal.net>
Gary Holmlund <gw@holmlund.org> <gary@holmlundg.(none)>
Gary Holmlund <gw@holmlund.org> <gary@holmlundg.att.net>
Gary Holmlund <gw@holmlund.org> <gary@holmlundg.attlocal.net>
Gary Holmlund <gw@holmlund.org> <gary@holmlundg>
Gary Holmlund <gw@holmlund.org> <gary@holmlundgw.attlocal.net>
Gary Holmlund <gw@holmlund.org> <gary@localhost.localdomain>
Gary Holmlund <gw@holmlund.org> <gary@mini.local>
Gary Holmlund <gw@holmlund.org> <gholmlund@ba6c7691-6512-0410-bf18-b6da21b6447f>
Greg Hellings <greg-git@thehellings.com> <ghellings@softlayer.com>
Greg Hellings <greg-git@thehellings.com> <greg.hellings@gmail.com>
Greg Hellings <greg-git@thehellings.com> <hellings@ba6c7691-6512-0410-bf18-b6da21b6447f>
Jaak Ristioja <jaak@ristioja.ee> <jaakristioja@users.noreply.github.com>
Jaak Ristioja <jaak@ristioja.ee> <jotik@ba6c7691-6512-0410-bf18-b6da21b6447f>
Jaak Ristioja <jaak@ristioja.ee> <ristioja@gmail.com>
Jaak Ristioja <jaak@ristioja.ee> <jaak+github@ristioja.ee>
Jeremy Erickson <jerickson314@users.sourceforge.net> <jerickson314@ba6c7691-6512-0410-bf18-b6da21b6447f>
Jim Campbell <jim-campbell@users.sourceforge.net> <jim-campbell@ba6c7691-6512-0410-bf18-b6da21b6447f>
Joachim Ansorg <joachim@users.sourceforge.net> <joachim@ba6c7691-6512-0410-bf18-b6da21b6447f>
Kang Sun <k486@users.sourceforge.net> <k486@ba6c7691-6512-0410-bf18-b6da21b6447f>
Konstantin Maslyuk <kostyamaslyuk@gmail.com> <kalemas@mail.ru>
Martin Gruner <martin.gruner@otrs.com> <martin.gruner@libertello.de>
Martin Gruner <martin.gruner@otrs.com> <martin@otrs-mg.fritz.box>
Martin Gruner <martin.gruner@otrs.com> <mg.pub@gmx.net>
Martin Gruner <martin.gruner@otrs.com> <mgruner@ba6c7691-6512-0410-bf18-b6da21b6447f>
Martin Gruner <martin.gruner@otrs.com> <mgruner@crosswire.org>
Patrick Sebastian Zimmermann <patrick@zakweb.de> <patrick@zakweb.de>
Raoul Snyman <soloffice@users.sourceforge.net> <soloffice@ba6c7691-6512-0410-bf18-b6da21b6447f>
Thomas Abthorpe <tabthorpe@FreeBSD.org> <tabthorpe@ba6c7691-6512-0410-bf18-b6da21b6447f>
Thomas Abthorpe <tabthorpe@FreeBSD.org> <tabthorpe@freebsd.org>
Thomas Abthorpe <tabthorpe@FreeBSD.org> <thomas@goodking.ca>
thedeveloper <thedeveloper@users.sourceforge.net> <thedeveloper@ba6c7691-6512-0410-bf18-b6da21b6447f>
