<html>
<head>
 <title>#TITLE#</title>
 <style type="text/css">

a:link {
    color: #LINK_COLOR#;
    text-decoration: none
}

.chaptertitle {
    font-weight: bold;
    font-size: x-large
}

.sectiontitle {
    font-weight: bold;
    font-size: medium
}

.highlightwords {
    color: #HIGHLIGHT_COLOR#;
    font-weight: bold;
    background-color: #FFEECC;
}

.jesuswords {
    color: #JESUS_WORDS_COLOR#;
    font-size: 0.9em;
}

.entry + .sectiontitle {
    margin-top:35px;
}

table {
    table-layout: fixed;
    width: 100%;
}

</style>
</head>

<body id="#DISPLAYTYPE#" class="#MODTYPE# #MODTYPE#_#MODNAME#">
  <div class="chaptertitle"><center>#CHAPTERTITLE#</center></div>
  <div id="content" lang="#LANG_ABBREV#" xml:lang="#LANG_ABBREV#" dir="#PAGE_DIRECTION#">#CONTENT#</div>
</body>
</html>
