<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>#TITLE#</title>
	<meta name="GENERATOR" content="BibleTime " VERSION "" />
	<meta name="AUTHOR" content="BibleTime " VERSION "" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<style type="text/css">
/* <![CDATA[ */
body {
	margin:5px;
}
#content {
	background-color:white;
}
#content table {
	margin:0;
	padding:0;
	border-spacing:10px;
	border-collapse: collapse;
	vertical-align: top;
}
#content table th {
	padding: 0 0 2px 0;
	text-align: center; 
	font-weight: bold;
	font-size: 115%;
}

a {
	text-decoration:none;
	font-weight:normal;
	color: blue;
	padding:2px;
}

td.entry, div.entry {
	padding: 5px;
	vertical-align: top;
}
span.entry {
	padding: 5px;
}

td.currententry, div.currententry {
	padding: 5px;
	vertical-align: top;
	font-weight:bold;
}
td.entry + td.entry {
	margin-left: 5px;
}
span.currententry {
	font-weight:bold;
	vertical-align: middle;
	padding: 5px;
}

.footnote {
	color: gray;
}

.strongnumber {
	vertical-align: top;
	font-size: 60%;
	color: blue;
}
.morphcode {
	vertical-align: top;
	font-size: 60%;
	color: blue;
}
.lemma {
}

.sectiontitle {
	font-weight: bold;
	font-size: 120%;
}
.entry + .sectiontitle {
	margin-top:35px;
	padding-top:35px;
}

.booktitle {
	font-weight: bold;
	font-size: 140%;
}
.foreign {
}
.jesuswords {
	color: red;
	font-size: 0.9em;
}

.name > .divine {
   font-variant: small-caps;
}

.quotation {
}
.poetry {
}
.sup {
	vertical-align: super;
}
.sub {
	vertical-align: sub;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}
/*TODO: Think of something better here since this will get confusing*/
/*	on verses but, is needed for things inthe Mag/Info window*/
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
#LANG_CSS#
/* ]]> */
	</style>
</head>

<body>
	<div id="content" lang="#LANG_ABBREV#" xml:lang="#LANG_ABBREV#" dir="#PAGE_DIRECTION#">#CONTENT#</div>
</body>
</html>