name: GitHub Workflow

on:
  workflow_dispatch:
    inputs:
      container_image:
        description: 'The container image to use for building'
        type: string
        required: true
        default: "debian:trixie"
  push:
    branches:
      - 'master'
      - 'stable-*'
  pull_request:
    branches:
      - 'master'
      - 'stable-*'

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-24.04
    container:
      image: "${{ inputs.container_image || 'debian:trixie' }}"
      env:
        DEBIAN_FRONTEND: noninteractive
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 2000
        fetch-tags: true
    - name: Gather system information
      run: |
        mkdir -p "${HOME}/info"
        cd "${HOME}/info"
        echo 4 > num_threads
    - name: Install required packages
      run: |
        apt-get update
        apt-get install --no-install-recommends --no-install-suggests -Vy \
          cmake \
          docbook-xml \
          docbook-xsl \
          fop \
          g++ \
          git \
          libclucene-dev \
          libsword-dev \
          make \
          pkg-config \
          po4a \
          qt6-base-dev \
          qt6-declarative-dev \
          qt6-speech-dev \
          qt6-svg-dev \
          qt6-tools-dev \
          xsltproc
    - name: Configure the build
      run: |
        mkdir -p "${HOME}/local" build
        cd build
        cmake "-DCMAKE_PREFIX_PATH=${HOME}/local/" "-DCMAKE_INSTALL_PREFIX=${HOME}/local/" ..
    - name: Compile
      run: make "-j$(cat "${HOME}/info/num_threads")"
      working-directory: build
    - name: Install
      run: make "-j$(cat "${HOME}/info/num_threads")" install
      working-directory: build
    - uses: actions/upload-artifact@v4
      if: success()
      with:
        name: handbooks
        path: '~/local/share/doc/bibletime/handbook/'
    - uses: actions/upload-artifact@v4
      if: success()
      with:
        name: howtos
        path: '~/local/share/doc/bibletime/howto/'
